html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    background-color: #e7e7e7;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

p {
    margin-top: 0;
    margin-bottom: 10px
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 36px;
    font-weight: bold;
}

hr {
    margin-top: 40px;
    border: 0.5px solid #ddd;
    width: 30%;
}

img {
    padding-top: 20px;
    padding-bottom: 5px;
    @media (max-width: 800px) {
        width: 10px;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* =================== HEADER FORMATTING =================== */

.header {
    overflow: hidden;
    background-color: #e7e7e7;
    padding: 20px 50px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;
    transition: color 200ms;
}

.header a:hover {
    color: #DE5021;
}

.header-right {
    float: right;
    font-size: 12px;
}

.myHeader {
    float: left;
    font-family: 'Helvetica', 'Book Antiqua', Palatino, serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -0.03em;
}

.myPages {
    float: left;
    font-family: 'Roboto';
    color: black;
    font-size: 20px;
}

.Absolute-Center {
    display: none;
}

.toggle-container .container {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    color: #fff;
}


/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */

@media screen and (max-width: 800px) {
    .myPages {
        margin-top: 1vh;
        margin-left: 5vw;
    }
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        display: none;
    }
    .toggle-container {
        display: block;
        cursor: pointer;
        float: right;
        margin-top: -45px;
    }
    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 1px;
        background-color: #333;
        margin: 8px 0;
        transition: 0.2s;
    }
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-5px, 6px);
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .change .bar2 {
        opacity: 0;
    }
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-7px, -8px);
        transform: rotate(45deg) translate(-7px, -8px);
    }
    .myHeader {
        font-size: 5vw;
    }
    .Absolute-Center {
        display: block;
        height: 50%;
        /* Set your own height: percents, ems, whatever! */
        width: 50%;
        /* Set your own width: percents, ems, whatever! */
        margin: auto;
        /* Center the item vertically & horizontally */
        position: absolute;
        /* Break it out of the regular flow */
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        /* Set the bounds in which to center it, relative to its parent/container */
        overflow: hidden;
    }
    .overlay {
        height: 0;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 40;
        left: 0;
        background-color: #e7e7e7;
        overflow: hidden;
        transition: 0.5s;
    }
    .overlay-content {
        position: relative;
        top: 50%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
        overflow: hidden;
    }
    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 20px;
        color: black;
        display: block;
        transition: 0.3s;
    }
    .overlay a:hover {
        color: #DE5021;
    }
    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }
}


/* =================== END HEADER FORMATTING =================== */


/* =================== HOME FORMATTING ========================= */

.home_bg_grad {
    height: 100vh;
    margin-top: 0px;
    padding-top: 0px;
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), to(rgba(0, 0, 0, 0.76)));
    background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.76));
}

.home_big_heading {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: auto;
    padding-top: 100px;
    padding-bottom: 0px;
    padding-left: 50vw;
    padding-right: 10vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: transparent;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    color: #fff;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    text-shadow: 1px 1px 6px #000;
}

.home_bg {
    padding-top: 0px;
    background-image: url("./resources/pics/home_bg.jpg");
    background-position: 50% 50%;
    background-size: cover;
    height: 100vh;
}

.home_description {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 70vh;
    padding-left: 50vw;
    padding-right: 10vw;
    overflow: hidden;
    padding-bottom: 100;
    float: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    color: #fff;
    font-size: 23px;
    line-height: 40px;
    font-style: normal;
    text-align: left;
    text-shadow: 1px 1px 6px #000;
}

a.description {
    text-decoration: none;
    transition: color 400ms;
    transition: background-color 400ms;
    color: #DE5021;
    cursor: pointer;
}

a.description:hover {
    color: white;
    background-color: #DE5021;
}

@media (max-width: 800px) {
    .home_bg_grad {
        height: 100%;
    }
    .home_big_heading {
        height: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: right;
    }
    .home_description {
        overflow: hidden;
        padding: 10px 40px 10px;
        color: #000;
        font-size: 16px;
        line-height: 30px;
        text-shadow: none;
        height: auto;
    }
    .home_big_heading {
        padding: 10vw 10vw 10vw;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 8vw;
        text-align: center;
        height: 100%;
    }
    .home_bg {
        height: 40vh;
        background-size: cover;
    }
}


/*================== END HOME FORMATTING ========================== */


/* =================== BEGIN BIO FORMATTING ========================= */

.bio_bg_grad {
    height: 60vh;
    margin-top: 0px;
    padding-top: 0px;
    background-image: -webkit-gradient(linear, left top, right top, from(#000), to(transparent));
    background-image: linear-gradient(90deg, #000, transparent);
}

.bio_header {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    margin-top: auto;
    margin-bottom: 0px;
    padding-top: 100px;
    padding-bottom: 68px;
    padding-left: 10vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: transparent;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    color: #fff;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    text-shadow: 1px 1px 6px #000;
}

.bio_bg {
    margin-top: 0px;
    padding-top: 0px;
    background-image: url("./resources/pics/home_bg.jpg");
    background-position: 40% 30%;
    background-size: cover;
    /* background-attachment: fixed; */
    height: 40vh;
}

.bio_desc {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: none;
    width: 100%;
    height: auto;
    margin-left: 0px;
    padding-top: 50px;
    padding-right: 20vw;
    padding-left: 20vw;
    float: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    color: black;
    font-size: 20px;
    line-height: 40px;
    font-style: normal;
    text-align: left;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

@media (max-width: 900px) {
    .bio_bg_grad {
        height: 60vh;
        margin-top: 0px;
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(180deg, transparent, transparent);
        color: #fff;
        font-size: 12px;
    }
    .bio_header {
        height: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 0px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 30px;
        text-align: center;
    }
    .bio_bg {
        width: 100%;
        height: 60vh;
        background-position: 65% 50%;
    }
    .bio_desc {
        overflow: visible;
        height: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 20px 40px 0px;
        color: #000;
        font-size: 16px;
        line-height: 30px;
        text-shadow: none;
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        /* IE 10+ */
    }
}


/* =================== END BIO FORMATTING ==================================== */


/* =================== BEGIN PROJECT PAGE FORMATTING ========================= */

.navbar {
    background-color: transparent;
}

.slider-heading {
    font-family: 'Helvetica';
    font-weight: bold;
    letter-spacing: -0.03em;
    font-size: 30px;
    margin-left: 6.25%;
}

.slider {
    position: relative;
    /* border: 1px solid red; */
}

.slider .post-wrapper {
    width: 85%;
    height: auto;
    margin: 0px auto;
    /* border: 1px dashed red; */
    overflow: hidden;
}

.slider .next {
    position: absolute;
    top: 50%;
    right: 60px;
    cursor: pointer;
    font-size: 2em;
}

.slider .prev {
    position: absolute;
    top: 50%;
    left: 60px;
    cursor: pointer;
    font-size: 2em;
}

.slider .post-wrapper .post {
    width: 300px;
    height: auto;
    margin: 0px 15px;
    background-color: cyan;
    display: inline-block;
}

.project_bg {
    top: 0;
    height: 45vh;
    background-image: url("./resources/pics/project_bg-min.jpg");
    background-position: 50% 30%;
    background-size: cover;
    /* background-attachment: fixed; */
    line-height: 30px;
    /* position: fixed; */
}

.w-inline-block {
    max-width: 100%;
    display: inline-block
}

.project_heading {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: auto;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0, 24, 26, 0.6);
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-weight: 400;
    /* letter-spacing: -0.03em; */
    color: #fff;
    font-size: 50px;
    text-align: center;
    /* text-shadow: 1px 1px 6px #000; */
    /* new commit test */
}

.collection {
    position: relative;
    margin-top: 33px;
    background-color: #fff;
    text-align: left;
}

.collection-item {
    display: block;
    overflow: hidden;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
    background-image: url("https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png");
    background-position: 50% 50%;
    background-size: cover;
    box-shadow: 2px 2px 6px -4px #000;
    cursor: pointer;
}

.collection-list {
    display: -ms-grid;
    display: grid;
    padding-top: 0px;
    -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    background-color: hsla(0, 0%, 100%, 0);
    cursor: default;
}

.item_title {
    overflow: visible;
    margin-top: 0px;
    margin-bottom: auto;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    color: #fff;
    font-size: 22px;
    line-height: 25px;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    /* text-shadow: 1px 0 2px rgba(0, 0, 0, 0.82); */
}

.item_title:hover~item_bg_grad {
    background-color: rgba(0, 0, 0, 0.6)
}

.item_topic {
    position: static;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
    float: none;
    font-family: Roboto, sans-serif;
    color: #DE5021;
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
}

.collection-list-wrapper {
    margin-left: 0px;
    padding: 0px 60px 100px;
    background-color: #e7e7e7;
    color: #fff;
}

.link-block {
    position: static;
    overflow: visible;
    width: 100%;
    height: 102%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    /* background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000));
     */
    background-image: linear-gradient(180deg, transparent, #000);
    transition: text-decoration 200ms ease-in-out;
    text-decoration: none;
    cursor: pointer;
}

.link-block:hover {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), #000);
    cursor: pointer;
}

.link-block:hover .item_bg_grad {
    opacity: 1.0;
}

.item_desc {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 53px;
    padding-right: 40px;
    padding-left: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    /* text-shadow: 1px 1px 1px #000; */
}

.item_bg_grad {
    width: 100%;
    height: 400px;
    opacity: 0;
    background-color: transparent;
    transition: opacity 200ms ease-in-out;
    cursor: pointer;
}

@media (max-width: 800px) {
    .item_bg_grad {
        height: 30vh;
    }
    .project_heading {
        font-size: 30px;
        letter-spacing: -0.03em;
    }
    .project_bg {
        height: 250px;
        background-image: url("./resources/pics/project_bg.jpg");
        background-position: 50% 10%;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
        line-height: 30px;
    }
    .collection-list {
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .collection {
        height: 100px;
        margin-top: 0px;
    }
    .collection-list-wrapper {
        height: 100px;
        padding-right: 0px;
        padding-bottom: 61px;
        padding-left: 0px;
        background-color: #f1f1f1;
    }
}

.tab-wrapper {
    margin: 20px;
    margin-left: 35px;
}


/* =================== END PROJECT PAGE FORMATTING ================================= */


/* =================== BEGIN INDIVIDUAL PROJECT FORMATTING ========================= */

.project_topic {
    font-family: 'Roboto';
    padding-top: 10px;
    color: #DE5021;
    font-size: 12px;
}

.project_contain {
    align-content: left;
    padding-left: 60px;
    padding-right: 70px;
    padding-top: 30px;
    width: 100%;
}

.project_box {
    float: right;
    background-color: white;
    margin-top: -600px;
    margin-left: 400px;
    margin-right: 100px;
}

.project_description {
    background-color: white;
    font-family: 'Palatino';
    color: gray;
    font-size: 20px;
    padding-bottom: 20px;
    line-height: 1.2;
    font-style: oblique;
}

.project_title {
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-size: 48px;
    font-weight: 300;
    line-height: 1.2;
}

.caption {
    font-family: 'Palatino';
    font-style: italic;
    font-size: 14px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%
}

.project_body {
    font-family: 'Helvetica';
    font-weight: 400;
    /* color: rgba(29, 29, 29, 0.7); */
    /* color: rgba(0, 0, 0, 0.502); */
    color: #404040;
    font-size: 18px;
    padding-bottom: 20px;
    line-height: 1.5;
    /* font-weight: 100; */
}

.project_body_header {
    font-family: 'Palatino';
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 0;
    color: black;
}

.project_body_subheader {
    font-family: 'Palatino';
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
    color: black;
}

.sidenav {
    font-family: 'Palatino';
    font-size: 18px;
    font-weight: 400;
    color: black;
    height: 50%;
    width: 400px;
    z-index: 1;
    top: 0px;
    position: relative;
    background-color: transparent;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 40px;
}

.sidenav a {
    font-family: 'Helvetica';
    padding: 6px 40px 6px 0px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: black;
    display: block;
}

.sidenav d {
    font-family: 'Helvetica';
    padding: 6px 40px 6px 0px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: black;
    display: block;
}

.sidenav a:hover {
    transition: 200ms;
    color: #DE5021;
}

.project_image {
    height: 600px;
    margin-top: 0px;
    padding-top: 0px;
    background-size: cover;
    background-attachment: fixed;
    line-height: 30px;
}

.collapsible {
    background-color: #fff;
    color: black;
    font-family: 'Roboto';
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    border-bottom-style: solid;
    border-bottom-color: inherit;
}

@media (max-width: 800px) {
    .project_topic {
        font-size: 10px;
        text-align: center;
        padding-bottom: 20px;
    }
    .sidenav {
        display: none;
    }
    .project_image {
        background-size: cover;
        height: 40vh;
        background-position: 50% 50%;
        background-attachment: scroll;
    }
    .project_box {
        float: center;
        background-color: white;
        margin-top: 0vh;
        margin-left: 0px;
        margin-right: 0px;
        width: 100vw;
    }
    .project_title {
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 20px;
        padding-right: 0px;
        width: 100%;
        text-align: center;
        font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.2;
    }
    .project_description {
        font-size: 14px;
        padding-bottom: 20px;
        padding-left: 5vw;
        padding-right: 5vw;
        text-align: center;
        line-height: 1.2;
        font-style: oblique;
    }
    .project_body {
        font-size: 16px;
        padding-bottom: 20px;
        width: 100%;
        line-height: 1.5;
        font-weight: 100;
        text-align: left;
    }
    .project_body_header {
        font-size: 20px;
        padding-bottom: 0px;
        padding-right: 0px;
    }
    .project_contain {
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .caption {
        font-size: 12px;
        width: 100%;
        text-align: center;
    }
    .collapsible {
        background-color: #fff;
        color: black;
        font-family: 'Roboto';
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 4vw;
        border-bottom-style: solid;
        border-bottom-color: inherit;
    }
}


/* ============== END INDIVIDUAL PROJECT FORMATTING ==================== */


/* ============== BEGIN SPEECH FORMATTING ============================== */

.speechtitle {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-size: 2vw;
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.speechdesc {
    font-family: 'Roboto';
    color: #DE5021;
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1%;
}

video {
    /* width: 80%; */
    height: auto;
    /* box-shadow: 2px 2px 6px 1px gray; */
    margin-top: 20px;
}


/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */

@media screen and (max-width: 800px) {
    .speechtitle {
        font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
        font-size: 20px;
        width: 80%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .speechdesc {
        font-family: 'Roboto';
        color: #DE5021;
        font-size: 1.2vw;
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    video {
        width: 100%;
        height: auto;
        /* box-shadow: 2px 2px 6px -4px #000; */
    }
}


/* =================== END SPEECH FORMATTING ========================= */

.footer {
    padding-top: 20px;
    font-family: 'Palatino';
    font-weight: lighter;
    font-size: 12px;
    color: rgba(29, 29, 29, 0.7);
    padding-bottom: 20px;
}

.footer-home {
    padding-top: 100px;
    font-family: 'Palatino';
    font-weight: lighter;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 20px;
}